@CHARSET "ISO-8859-1";
#navigation
{
 overflow: hidden;
  background-color: #e6e6e6;
  width:47%;
  margin-top:-42.5em;
  margin-left:2.5em;
}
#navigation a {
  float: left;
  color: #a2a2a2;
  text-align: left;
  padding: 12px 16px;
  text-decoration: none;
  font-size: 17px;
  width:40%;
  
}
#navigation a.active {
  background-color:#cdcdcd;
  color: #4d4d4d;
  border-bottom:3px solid #9a9a9a;
}
.product
{
width:49%;
text-align:left;



}